.main h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #4CAF50;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}
 
 
.carousel {
    max-width: 800px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
 
.carousel-item img {
    border-radius: 10px;
 
    object-fit: cover;
}
 
 
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding: 10px 15px;
    bottom: 20px;
}
 
.carousel-caption h5 {
    font-size: 1.5rem;
    color: #fff;
}
 
.carousel-caption p {
    color: #f1f1f1;
}
 
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}
 
 
@media (max-width: 768px) {
    .main h1 {
        font-size: 2rem;
    }
}